@define-color background #282A36;
@define-color foreground #F8F8F2;
@define-color cyan #8BE9FD;
@define-color green #50FA7B;
@define-color orange #FFB86C;
@define-color pink #FF79C6;
@define-color purple #BD93F9;
@define-color red #FF5555;
@define-color yellow #F1FA8C;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 15px;
}

window#waybar {
    background: rgba(0,0,0,0);
}

window#waybar.empty #window {  
    background:none;  
}

.modules-left {
    margin-left: 10px;
}

.modules-right {
    margin-right: 10px;
}

#workspaces,
#window,
#pulseaudio,
#battery,
#tray,
#custom-notification,
#bluetooth,
#clock {
    color: @foreground;
    background: @background;
    margin-top: 8px;
    padding: 4px 10px;
    border-radius: 10px;
}

/* WORKSPACES */
#workspaces {
    padding-left: 4px;
    padding-right: 4px;
}

#workspaces button {
    padding: 0 8px;
    color: @foreground;
    border-radius: 7px;
    font-weight: bold;
}

#workspaces button:hover {
    background: @background;
    color: @purple;
}  

#workspaces button.active {
    background: @purple;
    color: @background;
}

/* CUSTOM-NOTIFICATION */
#custom-notification {
    font-family: "NotoSans Nerd Font"
}