* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-size: 17px;
}

window#waybar {
    background: rgba(0,0,0,0);
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

#workspaces button {
    padding: 0 8px;
    color: #5d5d68;
    border-radius: 50%;
}

#workspaces button:hover {
    background: #11111b;
    color: #F0F3FF;
}

#workspaces button.active {
    color: #F0F3FF;
}

#workspaces,
#window,
#battery,
#tray,
#clock {
    color: #F0F3FF;
    background: #222831;
    margin-top: 8px;
    padding: 4px 10px;
    border-radius: 10px;
}