@import '../../.cache/wal/colors-swaync.css';

* {
    color: @foreground;

    all: unset;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 15px;
}

.control-center {
    background: alpha(@background, .95);
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .3);
    border-radius: 15px;
    margin: 15px;
    padding: 5px;
}

/* ## NOTIFICATIONS ## */
.control-center .notification-row .notification-background {
    background: alpha(@foreground, .15);
    border-radius: 15px;
    margin: 5px 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.control-center .notification-row .notification-background .notification.critical {
    border: 1px solid @color12;
}

.control-center .notification-row .notification-background .notification .notification-content {
    margin: 10px;
}

.control-center .notification-row .notification-background .close-button {
    margin: 6px;
    padding: 2px;
    border-radius: 6px;
    color: alpha(@foreground, 0.6);
}

.control-center .notification-row .notification-background .close-button:hover {
    color: @foreground;
}

.control-center .notification-row .notification-background .close-button:active {
    color: @color14;
}

progressbar,
progress,
trough {
    border-radius: 12px;
}

progressbar {
    background-color: rgba(255, 255, 255, .1);
}

/* ## NOTIFICATIONS EXPANDED GROUP ## */
.notification-group-headers {
    margin: 5px 10px;
    font-weight: bold;
    color: @foreground;
}

.notification-group-icon {
    color: @foreground;
}

.notification-group-close-all-button {
    margin-right: 10px;
}

.notification-group-collapse-button,
.notification-group-close-all-button {
    background: alpha(@foreground, .15);
    color: @foreground;
    border-radius: 6px;
    padding: 4px;
}

.notification-group-collapse-button:hover,
.notification-group-close-all-button:hover {
    background: @color14;
    color: @background;
}

/* ## WIDGETS ## */
.widget-title,
.widget-dnd,
.widget-buttons-grid,
.widget-mpris {
    margin: 10px;
}

.widget-title,
.widget-dnd {
    font-size: 1.2em;
}

.widget-title button:hover {
    background-color: @color14;
    color: @background;
}

.widget-title button:active {
    background: @color14;
    color: @background;
}

/* ## NOTIFICATION CLEAR ## */
.widget-title button {
    background: alpha(@foreground, .15);
    border-radius: 6px;
    padding: 2px 5px;
}

/* ## DND ## */
.widget-dnd>switch {
    background: alpha(@foreground, .15);
    border-radius: 6px;
    padding: 2px;
}

.widget-dnd>switch slider {
    background: @foreground;
    border-radius: 6px;
}

.widget-dnd>switch:checked {
    background: alpha(@color14, .3);
    color: @color14;
}

.widget-dnd>switch slider:checked {
    background: @color14;
}

/* ## BUTTONS MENU ## */
.widget-buttons-grid {
    font-size: x-large;
    padding: 6px 2px;
    border-radius: 12px;
    background: alpha(@foreground, .15);
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 5px 25px;
    padding: 5px 40px;
    background: transparent;
    border-radius: 8px;
}

.widget-buttons-grid>flowbox>flowboxchild>button:hover {
    background: @color14;
    color: @background;
}


/* ## MUSIC PLAYER ## */
.widget-mpris {
    background: alpha(@foreground, .15);
    border-radius: 12px;
    color: @foreground;
}

.widget-mpris-player {
    background-color: transparent;
    border-radius: 12px;
    padding: 6px 14px;
    margin: 6px;
}

.widget-mpris>box>button {
    color: @foreground;
    border-radius: 20px;
}

.widget-mpris button {
    color: alpha(@foreground, .6);
}

.widget-mpris button:hover {
    color: @foreground;
}

.widget-mpris-album-art {
    border-radius: 16px;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1rem;
}

.widget-mpris-subtitle {
    font-weight: 500;
    font-size: 0.8rem;
}
