@import '../../.cache/wal/colors-swaync.css';

* {
    color: @foreground;

    all: unset;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 15px;
}

.notification-row {
    outline: none;
    padding: 0;
}

.image {
    border-radius: 5;
    margin-right: 5px;
}

.summary {
    font-weight: bold;
}

.body {
    font-size: 0.8rem;
}

.floating-notifications.background .notification-row .notification-background {
    background: alpha(@background, .95);
    box-shadow: 0 4px 8px 3px rgba(0, 0, 0, .15), 0 1px 3px rgba(0, 0, 0, .3);
    border-radius: 15px;
    margin: 15px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
    border: 1px solid @color12;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
    margin: 10px;
}

.floating-notifications.background .notification-row .notification-background .close-button {
    margin: 6px;
    padding: 2px;
    border-radius: 6px;
    color: alpha(@foreground, 0.6);
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
    color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
    color: @color14;
}

.notification.critical progress {
    background-color: @color13;
}

.notification.low progress,
.notification.normal progress {
    background-color: @color13;
}
