* {{
    background:     {background};
    background-alt: {foreground}15;
    foreground:     {foreground};
    selected:       {color14};
    active:         {colo13};
    urgent:         {color12};
}}
